/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-300
    dark:border-gray-700
    transition-all;
  }

  svg:not(.logo) {
    @apply fill-gray-950/40
    dark:fill-gray-50/40;
  }

  body {
    @apply bg-white 
    dark:bg-gray-800 
    dark:text-gray-100;
  }

  article {
    @apply prose
    xl:prose-lg
    prose-gray
    dark:prose-invert
    max-w-none
    prose-h1:mb-0
    xl:prose-h1:text-7xl
    xl:prose-h2:text-4xl
    prose-p:max-w-prose
    prose-headings:max-w-prose
    prose-headings:text-gray-700
    dark:prose-headings:text-gray-400
    prose-h5:uppercase
    prose-h5:text-xs
    prose-h5:tracking-widest
    prose-h5:font-bold
    prose-h5:opacity-60;
  }

  article h2 {
    @apply mt-0;
  }

  article > section {
    @apply py-8 
    sm:py-16
    lg:py-24;
  }

  article video,
  article img {
    @apply shadow-2xl
    rounded-3xl
    mx-auto
    my-4
    lg:my-8
    xl:my-12
    bg-gray-200
    dark:bg-gray-800;
  }
}
