/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-black/20
    dark:border-white/20
    transition-all;
  }

  svg:not(.logo) {
    @apply fill-gray-950/40
    dark:fill-gray-50/40;
  }

  body {
    @apply min-w-[340px]
    bg-white 
    dark:bg-gray-800 
    dark:text-gray-100;
  }

  article {
    @apply prose
    xl:prose-lg
    prose-gray
    dark:prose-invert
    max-w-none
    prose-h1:mb-0
    xl:prose-h1:text-6xl
    xl:prose-h2:text-4xl
    prose-p:max-w-prose
    prose-blockquote:font-light
    prose-blockquote:font-serif
    prose-headings:max-w-prose
    prose-headings:text-gray-700
    dark:prose-headings:text-gray-400
    prose-h5:uppercase
    prose-h5:text-xs
    prose-h5:tracking-widest
    prose-h5:font-bold
    prose-hr:border-black/20
    dark:prose-hr:border-white/20
    prose-video:shadow-2xl
    prose-video:rounded-xl
    prose-video:mx-auto
    prose-video:my-4
    prose-video:lg:my-8
    prose-video:xl:my-12
    prose-video:bg-gray-200
    prose-video:dark:bg-gray-800
    prose-img:shadow-2xl
    prose-img:rounded-xl
    prose-img:mx-auto
    prose-img:my-4
    prose-img:lg:my-8
    prose-img:xl:my-12
    prose-img:bg-gray-200
    prose-img:dark:bg-gray-600
    prose-a:font-normal
    prose-a:transition-all
    prose-a:no-underline
    prose-a:border-b-2
    hover:prose-a:border-black/60
    dark:hover:prose-a:border-white/60
    hover:prose-a:text-black
    dark:hover:prose-a:text-white;
  }

  article > section {
    @apply py-8 
    sm:py-16
    lg:py-24;
  }

  .block-link {
    @apply border-none
    no-underline
    block
    rounded-xl
    transition-all
    duration-300
    ease-out
    font-normal
    hover:scale-[102%]
    active:scale-100
    hover:bg-black/5
    active:bg-black/10
    dark:hover:bg-white/5
    dark:active:bg-white/10;
  }
}
